/* 
    Created on : 2017.02.09., 17:22:53
    Author     : hgy
*/
#searchresults {
    display:none;
    position: absolute;
    /*top:0;*/
    left:100px;
    background:#fff;
    border:1px solid #ddd;
    z-index: 1000;
}
#searchresults li:hover {
    cursor:pointer;
    background:#ddd;
}
